*{
	margin: 0;
	padding: 0;
}

body{
	font-family: roboto, "sans-serif";
}

#content{
	display: grid;
	grid-template: 1fr 8fr 1fr/ 2fr 8fr;
	grid-template-areas: "header header" "sidebar section" "footer footer";
	height: 100vh;
}

.header{
	grid-area: header;
	padding: 0px 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #cdc8c8;
}

#header_logo{
	display: flex;
}

#header_logo-name{
	font-size: 1.2rem;
	font-weight: 700;
}

#header_logo-image{
	height: 2rem;
	width: 2rem;
	margin-right: 10px;
	border-radius: 8px;
}

#header_search{
	display: flex;
	width: 40%;
	align-items: center;
	border: 1px solid none;
	background-color: #fff;
	border-radius: 8px;
}

#header_search_input {
	width: 100%;
	outline: none;
	padding: 4px 12px;
	font-size: 0.9rem;
	border: none;
	background: none;
	font-weight: 500;
}

#header_search-icon {
	padding: 5px 12px;
}

#header_add {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 700;
	padding: 8px 12px;
	border-radius: 8px;
}

#header_add:hover {
	background-color: #857C7A;
	transition: ease-in 0.3s;
	cursor: pointer;
}

#header_search-icon,
#header_logo:hover {
	cursor: pointer;
}

.sidebar{
	grid-area: sidebar;
	background-color: #eeecec;
	display: flex;
	flex-direction: column;
	padding: 12px 12px;
	color: #3D3938;
	letter-spacing: 1px;
}

#sidebar-project-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

#sidebar-project-header:hover{
	text-decoration: underline;
	text-underline-offset: 4px;
}


#sidebar_add-icon {
	height: 14px;
	width: 14px;
	background-color: #504d4c;
}

#sidebar-overview-title,
#sidebar-overview-projects{
	font-weight: 600;
	margin: 12px 0;
	margin-bottom: 12px;

}

.sidebar-boxes{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.boxes,
.sde-project {
	padding: 5px 8px;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius: 5px;
	font-size: medium;
}

.boxes:hover{
	background-color: #e0dedd;
	transition: ease-in 0.5s;
}

hr {
	margin: 10px 0;
	font-weight: thin;
	opacity: 0.5;
}

.section{
	grid-area: section;
	background-color: #f8f5f5;
}

::backdrop {
  opacity: 0.9;
}


#new-item-dialog{
	margin: auto;
	width: 35%;
	height: 50%;
	padding: 25px;
	border: none;
	border-radius: 10px;
}

#new-project-dialog{
	margin: auto;
	width: 35%;
	height: 30%;
	padding: 25px;
	border: none;
	border-radius: 10px;
}

#new-item-dialog label{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom:8px;
	font-weight: 700;
}

#new-item-dialog input,
#new-item-dialog select,
#new-item-dialog textarea {
	background-color: transparent;
	outline: none;
	padding: 12px 10px; 
	text-transform: uppercase;
	border : 2px solid grey;
	border-radius: 5px;
}

#new-item-dialog::backdrop {
 	background-color: rgb(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

.footer{
	grid-area: footer;
}